:root {
  --main-text-color: #212121;
  --text-color: #757575;
  --main-background-color: #f5f5f5;
  --second-text-color: #ffffff;
  --background-color-footer: #2f303a;
  --color-hover-focus: #2196f3;
  --btn-background-color: #f5f4fa;
  --btn-color-hover: #188ce8;
  --border-color: #eeeeee;
}
body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  color: var(--main-text-color);
  max-width: 1600px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.main-nav-page {
  display: flex;
  align-items: center;
}
.nav,
.contact {
  display: flex;
}
.list {
  list-style: none;
}

.page-header {
  border-bottom: 1px solid #ececec;
}
.logo {
  display: inline-block;
  padding: 24px 0 25px;
  margin-right: 93px;

  font-weight: 700;
  font-family: 'Raleway';
  color: #000000;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  letter-spacing: 0.03em;
}
.logo-web {
  color: var(--color-hover-focus);
}
.main-nav,
.contacts-header {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--main-text-color);
}
.list-nav:not(:last-child) {
  margin-right: 50px;
}
.list-nav {
  padding-top: 32px;
  padding-bottom: 32px;
}
.selected {
  color: var(--color-hover-focus);
}
.main-nav:hover,
.main-nav:focus,
.contacts-header:hover,
.contacts-header:focus {
  color: var(--color-hover-focus);
}
.contact-list {
  padding-top: 32px;
  padding-bottom: 32px;
}
.contact-list:not(:last-child) {
  margin-right: 30px;
}
.contact {
  margin-left: auto;
}
.contacts-header {
  color: var(--text-color);
}
.page-title {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  background-size: cover;
  padding-bottom: 200px;
  padding-top: 200px;
  background-color: var(--background-color-footer);
  text-align: center;
}
.title {
  margin-bottom: 30px;
  font-family: inherit;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--second-text-color);
}
.btn {
  font-family: inherit;
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
}
.btn-title {
  padding: 10px 32px;
  background-color: var(--color-hover-focus);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--second-text-color);
}
.btn-title:hover,
.btn-title:focus {
  background-color: var(--btn-color-hover);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.benefits {
  padding-bottom: 0;
}
.benefits-list {
  display: flex;
}
.benefits-item {
  width: calc((100%-90px) / 4);
}
.benefits-item:not(:last-child) {
  margin-right: 30px;
}
.benefits-title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.benefits-description {
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.71;
}
.img {
  display: block;
}
.our-job-title,
.our-comand-title {
  margin-bottom: 50px;
  text-align: center;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.our-job-section {
  display: flex;
}
.img-job:not(:last-child) {
  margin-right: 30px;
}
.our-comand {
  background-color: var(--btn-background-color);
}
.our-comand-section {
  display: flex;
}
.our-comand-worker {
  background-color: var(--second-text-color);
}
.our-comand-worker:not(:last-child) {
  margin-right: 30px;
}
.our-comand-worker-name {
  margin-bottom: 10px;
  margin-top: 30px;
  font-size: 16px;
  line-height: 1.19;
  font-weight: 500;
  letter-spacing: 0.03em;
}
.our-comand-worker-name,
.our-comand-worker-profession {
  line-height: 1.17;
  text-align: center;
}
.our-comand-worker-profession {
  margin-bottom: 30px;
  color: var(--text-color);
  font-size: 16px;
}
.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-color-footer);
}
.logo-footer {
  padding: 0;
  margin: 0 0 20px 0;
  color: var(--second-text-color);
}
.logo-web {
  color: var(--color-hover-focus);
}
.footer-item {
  margin-bottom: 9px;
}
.address-footer,
.contacts-footer {
  display: block;
  text-decoration: none;
  font-style: normal;
  line-height: 1.71;
}
.contacts-footer.tel {
  margin-bottom: 0;
}
.address-footer {
  color: var(--second-text-color);
}
.contacts-footer {
  color: rgba(255, 255, 255, 0.6);
}
.contacts-footer:focus,
.contacts-footer:hover {
  color: var(--color-hover-focus);
}

.btn-product {
  padding: 6px 22px 6px 22px;
  margin-right: 8px;
  letter-spacing: 0.03em;
  font-size: 16px;
  background-color: var(--btn-background-color);
  color: var(--main-text-color);
  font-weight: 500;
  line-height: 1.62;
}
.btn-product-last {
  margin-right: 0;
}
.btn-product-type {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.btn-product:hover,
.btn-product:focus {
  background-color: var(--color-hover-focus);
  color: var(--second-text-color);
}
.our-product-item {
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc((100%-90px) / 3);
}
div.our-product:not(:nth-child(3n)) {
  margin-right: 30px;
}
div.our-product:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}
.product {
  background-color: var(--second-text-color);
}
.product-title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.product-title-card {
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid var(--border-color);
  border-top: 0;
}
.product-title-descr {
  font-size: 16px;
  line-height: 1.88;
  color: var(--text-color);
}
